
body{
    margin:0;
    font-family:Arial,sans-serif;
    height:100vh;
    overflow:hidden;
    background:#0f172a;
    color:white;
}

header{
    height:50px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 12px;
    background:#111827;
    border-bottom:1px solid #1f2937;
}

#search{
    width:250px;
    padding:6px;
}

main{
    display:grid;
    grid-template-columns:72% 28%;
    height:calc(100vh - 50px);
}

#graph-container{
    width:100%;
    height:100%;
}

#graph{
    width:100%;
    height:100%;
}

#panel{
    background:#0b1220;
    border-left:1px solid #1f2937;
    padding:12px;
    overflow-y:auto;
}

.card{
    background:#111827;
    padding:10px;
    border-radius:8px;
}
.highlight {
    background-color: #f59e0b !important;
    color: black !important;
}

.dim {
    opacity: 0.15;
}
