body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    background: #0f172a;
    color: white;
}

/* HEADER */
header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    background: #111827;
    border-bottom: 1px solid #1f2937;
}

#search {
    width: 250px;
    padding: 6px;
    border-radius: 6px;
    border: none;
}

/* MAIN LAYOUT */
main {
    display: grid;
    grid-template-columns: 72% 28%;
    height: calc(100vh - 50px);
}

/* GRAFO */
#graph-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0b1220;
}

#graph {
    width: 100%;
    height: 100%;
}

/* PANNELLO */
#panel {
    border-left: 1px solid #1f2937;
    padding: 12px;
    overflow-y: auto;
    background: #0b1220;
}

/* CARD */
.card {
    background: #111827;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
